@media only screen and (max-width: 980px) {

body {
	background: white;
}

.cap {
	width: 1000px;
}

.page {
	width: 750px;
}

#name {
	left: 100px;
	font-size: 55px;
	width: 900px;
}

#project {
	left: 480px;
}

.menu {
	left: 145px
}

.poster {
	width: 30px;
}

#page21 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: -248px;
	top: 0px;
}

#page15 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: -50px;
	top: 0px;
}

#page50 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: 150px;
	top: 0px;
}


#page05 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: 345px;
	top: 0px;
}


#page51 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: 540px;
	top: 0px;
}

}