@media only screen and (max-width: 980px) {

.cap {
	opacity: .9;
	border: 2px red solid;
	background: red;
	width: 99.78%;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.page {
	width: 750px;
}

#name {
	left: 120px;
}

#project {
	left: 360px;
}

.menu {
	left: 90px
}

#page51 {
	font-size: 2;
}

.poster {
	width: 30px;
}

}

@media only screen and (max-width: 768px) {

.cap {
	opacity: .9;
	border: 2px black solid;
	background: black;
	width: 99.78%;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#page21 {
	left: -30px;
	top: -50px;
	width: 151px;
}

#page15 {
	left: 121px;
	top: -50px;
	width: 151px;
}

#page50 {
	left: 272px;
	top: -50px;
	width: 151px;
}

#page05 {
	left: 0px;
	top: -10px;
	width: 151px;
}

#page51 {
	left: 155px;
	top: -10px;
	width: 151px;
}

.page {
	width: 750px;
}

#name {
	left: 120px;
}

#project {
	left: 360px;
}

.menu {
	left: 90px
}

.poster {
	width: 30px;
}

}