@media only screen and (max-width: 980px) {

body {
	background: white;
}

.cap {
	width: 1005px;
}

.page {
	width: 750px;
}

#name {
	position: absolute;
	left: 55px;
	top: 50px;
	font-size: 60px;
	width: 900px;
}

#project {
	position: absolute;
	left: 390px;
	top: 10px;
	font-size: 40px;
}

.menu {
	left: 145px
}

.poster {
	width: 30px;
}

#page21 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: -255px;
	top: 0px;
}

#page15 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: -55px;
	top: 0px;
}

#page50 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: 145px;
	top: 0px;
}


#page05 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: 345px;
	top: 0px;
}


#page51 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: 542px;
	top: 0px;
}

.gmsr {
	position: absolute;
	left: 310px;
	top: 210px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 34px;
	width: 690px;
}

.Pgmsr {
	position: absolute;
	left: 310px;
	top: 253px;
}

}