.page {
	width: 940px;
	margin: 50px auto;
}


.cap {
	opacity: .9;
	border: 2px #A82C2C solid;
	background: #A82C2C;
	width: 99.78%;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#name {
	position: absolute;
	top: 30px;
	left: 470px;
	font-size: 40px;
}

#project {
	position: absolute;
	left: 700px;
	top: 5px;
	font-size: 20px;
}

.menu {
	position: relative;
	top: 100px;
	left: 160px;
}

#page21 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 30px;
	position: absolute;
	left: -151px;
}

#page15 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 30px;
	position: absolute;
	left: 0px;
}

#page50 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 30px;
	position: absolute;
	left: 151px;
}


#page05 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 30px;
	position: absolute;
	left: 302px;
}


#page51 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 30px;
	position: absolute;
	left: 453px;
}

.poster {
	position: absolute;
	left: 0px;
	top: 204px;
	border: 6px white solid;
	width: 605px;
}

#com {
	position: absolute;
	left: 0px;
	top: 90px;
	font-size: 20px;
	color: black;
}

#repressed {
	position: absolute;
	left: 0px;
	top: 140px;
	font-size: 20px;
	color: black;
}