.page {
	width: 940px;
	margin: 50px auto;
}


.cap {
	opacity: .9;
	border: 2px #A82C2C solid;
	background: #A82C2C;
	width: 99.78%;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#name {
	position: absolute;
	top: 30px;
	left: 470px;
	font-size: 40px;
}

#project {
	position: absolute;
	left: 700px;
	top: 5px;
	font-size: 20px;
}

.menu {
	position: relative;
	top: 100px;
	left: 160px;
}

#page21 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: -248px;
	top: 0px;
}

#page15 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: -54px;
	top: 0px;
}

#page50 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: 140px;
	top: 0px;
}


#page05 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: 334px;
	top: 0px;
}


#page51 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: 528px;
	top: 0px;
}

.poster {
	position: absolute;
	left: 0px;
	top: 204px;
	border: 6px white solid;
	width: 605px;
}

.gmsr {
	position: absolute;
	left: 612px;
	top: 212px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 34px;
	width: 690px;
}

.Pgmsr {
	position: absolute;
	left: 612px;
	top: 255px;
}

.triangle {
	position: absolute;
	left: 612px;
	top: 960px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 34px;
	width: 690px;
}

.Ptriangle {
	position: absolute;
	left: 612px;
	top: 1003px;
}

#poster5 {
	position: absolute;
	right: 10px;
	top: 213px;
	border: 6px white solid;
}

#poster6 {
	position: absolute;
	right: 10px;
	top: 740px;
	border: 6px white solid;
}

#poster7 {
	position: absolute;
	right: 10px;
	top: 1267px;
	border: 6px white solid;
}