body {
	background-image: url(background.png);
}

a {
	text-decoration: none;
}

#top {
	opacity: .8;
}

#poster {
    position: absolute;
    left: -220px;
    bottom: 0px;
}

#repressed {
	position: absolute;
	right: 10px;
	font-size: 20px;
	color: white;
}