body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

strong {
	color: white;
}

.doc {
	border: 4px white solid;	
}

.docDiv {
	position: absolute;
	right: 10px;
	top: 100px;
}

.info {
	font-size: 40px;
	border: 8px #c42f2b solid;
	background: #c42f2b;
	position: absolute;
	width: 850px;
}

.static {
	position: absolute;
	left: 0px;
	top: 100px;
}

.lenta {
	font-size: 25px;
	border: 8px #c42f2b solid;
	background: #c42f2b;
	position: absolute;
}