body {
	background-image: url(img/background.png);
}

#top {
	opacity: .8;
}

h2 {
	color: white;
}

h5 {
	color: white;
}

.doc {
	border: 2px white solid;	
}

.border {
	position: absolute;
	border: 2px white solid;
}