.page {
	width: 940px;
	margin: 50px auto;
}


.cap {
	opacity: .9;
	border: 2px #A82C2C solid;
	background: #A82C2C;
	width: 99.78%;
	height: 200px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#name {
	position: absolute;
	top: 30px;
	left: 470px;
	font-size: 40px;
}

#project {
	position: absolute;
	left: 700px;
	top: 5px;
	font-size: 20px;
}

.menu {
	position: relative;
	top: 100px;
	left: 160px;
}

#page21 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: -248px;
	top: 0px;
}

#page15 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: -54px;
	top: 0px;
}

#page50 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: 140px;
	top: 0px;
}


#page05 {
	border: 4px white solid;
	background: white;
	color: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: 334px;
	top: 0px;
}


#page51 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: 528px;
	top: 0px;
}

@media only screen and (max-width: 980px) {

body {
	background: url(img/bd2.png);
	background-size: 1920px 3080px;
}

.cap {
	width: 1005px;
}

.page {
	width: 750px;
}

#name {
	position: absolute;
	left: 55px;
	top: 50px;
	font-size: 60px;
	width: 900px;
}

#project {
	position: absolute;
	left: 390px;
	top: 10px;
	font-size: 40px;
}

.menu {
	left: 145px
}

.poster {
	width: 30px;
}

#page21 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: -255px;
	top: 0px;
}

#page15 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: -55px;
	top: 0px;
}

#page50 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: 145px;
	top: 0px;
}


#page05 {
	border: 4px white solid;
	background: white;
	color: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: 345px;
	top: 0px;
}


#page51 {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	left: 542px;
	top: 0px;
}

}