.docDiv {
	position: absolute;
	left: 10px;
	top: 1280px;
}

#title {
	position: absolute;
	left: 10px;
	top: 240px;
	font-size: 45px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
}

#mif {
	position: absolute;
	left: 10px;
	top: 320px;
	font-size: 35px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
}

#mif1 {
	position: absolute;
	left: 10px;
	top: 380px;
	font-size: 35px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
	width: 800px;
}

#really {
	position: absolute;
	left: 10px;
	top: 600px;
	font-size: 35px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
}

#really1 {
	position: absolute;
	left: 10px;
	top: 660px;
	font-size: 35px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
	width: 800px;
}

#poster {
	position: absolute;
	right: 30px;
	top: 400px;
}

#poster1 {
	position: absolute;
	right: 30px;
	top: 1180px;
}

.links {
	position: absolute;
	top: 1350px;
	left: 10px;
}

.vk {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	top: 80px;
	left: 0px;
}

.email {
	border: 4px #A82C2C solid;
	background: #c42f2b;
	font-size: 39px;
	position: absolute;
	top: 80px;
	left: 200px;
	width: 380px;
}

#invis {
	position: absolute;
	left: -10px;
	top: 30px;
	opacity: .9;
	border: 2px #A82C2C solid;
	background: #A82C2C;
	color: #A82C2C;
	font-size: 100px;
	width: 1657px;
	height: 150px;
}