.docDiv {
	position: absolute;
	left: 10px;
	top: 1280px;
}

#title {
	position: absolute;
	left: 10px;
	top: 240px;
	font-size: 45px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
}

#mif {
	position: absolute;
	left: 10px;
	top: 320px;
	font-size: 35px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
}

#mif1 {
	position: absolute;
	left: 10px;
	top: 380px;
	font-size: 35px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
	width: 800px;
}

#really {
	position: absolute;
	left: 10px;
	top: 480px;
	font-size: 35px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
}

#really1 {
	position: absolute;
	left: 10px;
	top: 540px;
	font-size: 35px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
	width: 800px;
}

#o {
	position: absolute;
	left: 10px;
	top: 640px;
	font-size: 35px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
}

#o1 {
	position: absolute;
	left: 10px;
	top: 700px;
	font-size: 35px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
	width: 800px;
}

#o2 {
	position: absolute;
	left: 10px;
	top: 800px;
	font-size: 35px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
}

#o3 {
	position: absolute;
	left: 10px;
	top: 860px;
	font-size: 35px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
	width: 800px;
}

#o4 {
	position: absolute;
	left: 10px;
	top: 1160px;
	font-size: 35px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
}

#o5 {
	position: absolute;
	left: 10px;
	top: 1220px;
	font-size: 35px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
}

#o6 {
	position: absolute;
	left: 10px;
	top: 2540px;
	font-size: 35px;
	border: 4px #A82C2C solid;
	background: #c42f2b;
	width: 800px;
}

#poster {
	position: absolute;
	right: 30px;
	top: 400px;
}

#poster1 {
	position: absolute;
	right: 30px;
	top: 1450px;
}

@media only screen and (max-width: 980px) {
.links {
	position: absolute;
	top: 2800px;
}
}